*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html, body {
  max-width: 1000px;
  max-height: 700px;
  margin:0 auto;
  padding: 0 4px 4px 4px;
}
body {
  background-color: rgb(247, 252, 255);
}
/* MAIN HEADER */
.mainHeader {
    background-color: white;
    box-shadow: 0 2px 4px #888888;
}
.mainHeader > nav > ul {
    list-style-type: none;
    display:flex;
    justify-content: flex-end;
    font-size: 30px;
    margin: 10px;
    padding: 5px;
}
.mainHeader > nav > ul > li {
    margin: 0.3rem;
}
.mainHeader > nav>ul>li:nth-child(1) {
    flex-grow: 2;
}
.mainHeader > nav > ul > li > a {
    color: black;
}
.mainHeader > nav > ul > li > a:hover {
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
}
/*-------------------------------------------*/
/*DROPDOWN BUTTON*/
.dropButton {
    font-size: 30px;
    border: none;
    cursor: pointer;
    background-color: white;
  }
  
  .dropDown {
    position: relative;
    display: inline-block;
  }
  
  .dropDown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0 2px 4px #888888;
    z-index: 1;
    font-size: 20px;
  }
  
  .dropDown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropDown-content a:hover {
    background-color: rgb(221, 221, 221);
  }
  
  .dropDown:hover .dropDown-content {
    display: block;
  }
  
  .dropDown:hover .dropButton:hover {
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
  }
  /*---------------------------------------*/
  /* MAIN CONTENT*/
  .mainBox {
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    flex-wrap: wrap;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    padding-right: .5rem;
  }
  .mainBox h2, .mainBox p{
    margin: 1rem;
    text-align: center;
  }

  .mainBox > img {
    border-radius: 20px;
    margin: 5px;
    width: 200px;
  }

  .mainBox > div{
    flex-grow: 2;
  }

  /*EXPERIENCE BOX + NÅGRA LINKBOX*/
  .experienceBox, .linkBox {
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    background-color: white;
  }
  .experienceBox h3, .experienceBox p, .linkBox h3 {
    margin: 0.7rem;
  }
  .experienceBox h3, .linkBox h3 {
    padding-top: 0.5rem;
    text-align: center;
  }
  .experienceBox h3:hover {
    cursor: pointer;
    background-color: rgb(221, 221, 221);
  }

  .experienceBox p, .experienceBox h3 {
    padding-bottom: 0.5rem;
  }
/* --------------------------------------*/
/* PRESENTATIONBOX */
  .presentationBox {
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .3);
    padding: 1px 15px;
  }
/*---------------------------------------*/
/* LINKBOX */
  .linkBox > ul {
    list-style-type: none;
    margin: 5px;
    padding-bottom: 10px; 
  }
  .linkBox > ul > li {
    margin-bottom: 7px;
  }
  .linkBox > ul > li > a {
    color: black;
    text-decoration: none;
    font-size: 30px;
  }
  .linkBox > ul > li > a:hover {
    background-color: rgb(221, 221, 221);
    border-radius: 5px;
  }
/*----------------------------------------*/

  .hideText {
    display: none;
  }

  .noSelect {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
  }

  /*MEDIA SCREEN*/
  @media screen and (max-width: 730px) {
    .mainBox {
      flex-direction: column;
    }
    .mainBox h2, .mainBox p {
      text-align: center;
    }

  }