/*SIGN IN*/
#logInBtn {
    border-radius: 20px;
    margin-bottom: 5px;
    background-color:black;
    color: white;
    border: 3px solid rgb(221, 221, 221);
    transition: 0.2s;
    font-size: 15px;
}
#logInBtn:hover {
    background-color: rgb(221, 221, 221);
    cursor: pointer;
    border: 3px solid black;
    transition: 0.2s;
}
input {
    margin-bottom: 6px;
    width: 125px;
    font-size: 15px;
}
#logIn > h3 {
    background-color: black;
    color:white;
    margin: 7px;
    margin-bottom: 10px;
    padding-bottom: 2px;
}
.signIn {
    background-color: white;
    text-align: center;
    border: 2px solid white;
    width: 300px;  
    margin: auto;
    box-shadow: 0 2px 4px #888888;
}
